body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.fixing-pos {
    /* removable class that sets up positioning as fixed in order to cover all page*/
    position: fixed;
}

.hide {
    /*hide page*/
    display: none;
}


/*Score page styles*/

#score-show {
    font-size: 4.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    background-image: url('../image/titanic.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 100%;
    /* Set up positioning as fixed in order to cover all page*/
}

#score-show>center>h1 {
    color: lightgreen;
    flex-shrink: 1;
}

#restart-btn {
    /*align to center the button*/
    margin-inline: 60vh;
    margin-bottom: 20vh;
    padding: 0.5em;
    flex-shrink: 1;
    font-size: 3vh;
    border: 2px solid red;
    text-align: center;
    background: linear-gradient(90deg, lightgreen, cyan);
}

#restart-btn:active {
    opacity: 0.5;
}

#return-btn {
    /*align to center the button*/
    margin-inline: 60vh;
    padding: 0.5em;
    flex-shrink: 1;
    font-size: 3vh;
    border: 2px solid red;
    text-align: center;
    background: linear-gradient(90deg, lightgreen, cyan);
}

#return-btn:active {
    opacity: 0.5;
}


/*Game page styles*/

.navi-bar {
    /*Eliminate the bullets of the unordered list*/
    list-style: none;
    margin: 0;
    background-color: midnightblue;
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    border: 2px solid green;
    justify-content: space-evenly;
}


/*target the element "li" inside the class "navi-bar"*/

.navi-bar>li {
    margin: 1em;
    padding: 0.5em;
    flex-grow: 1;
    font-size: 3vh;
    border: 2px solid red;
    text-align: center;
    background: linear-gradient(90deg, lightgreen, cyan);
}

#board {
    /*Div containing the board*/
    display: flex;
    justify-content: center;
    padding: 2em;
    background-image: url('../image/titanic.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 100%;
}

#board-grid {
    flex-shrink: 1;
}


/***Splash Page styles***/

#splash-show {
    font-size: 4.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-image: url('../image/titanic.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 100%;
    /* Set up positioning as fixed in order to cover all page*/
}

#splash-show>center>h1 {
    font-size: 7vh;
    color: lightgreen;
}

#splash-show>center>h6 {
    margin-inline: 70vh;
    margin-block-start: 1em;
    color: silver;
    background: linear-gradient(90deg, red, blue);
    border: 2px solid red;
}

#play-btn {
    /*align to center the button*/
    margin-inline: 60vh;
    padding: 0.5em;
    flex-shrink: 1;
    font-size: 3vh;
    border: 2px solid red;
    text-align: center;
    background: linear-gradient(90deg, lightgreen, cyan);
}

#play-btn:active {
    opacity: 0.5;
}

#instr-btn {
    /*align to center the button*/
    margin-inline: 60vh;
    padding: 0.5em;
    flex-shrink: 1;
    font-size: 3vh;
    border: 2px solid red;
    text-align: center;
    background: linear-gradient(90deg, lightgreen, cyan);
}

#instr-btn:active {
    opacity: 0.5;
}

#select-size {
    margin-inline: 50vh;
    margin-bottom: 5vh;
    padding: 0.5em;
    border: 2px dotted yellow;
    flex-shrink: 1;
    color: lightgreen;
    text-align: center;
}


/***Board and cells styles***/

.unknown-cell {
    background: radial-gradient(red, transparent);
    background-size: cover;
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 8px
}

.revealed-cell {
    background: lightgray;
    background-size: cover;
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 8px
}

.flag-cell {
    background: radial-gradient(red, transparent);
    background-size: cover;
    width: 4.5vh;
    height: 4.5vh;
    background-image: url('../image/Flag.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px
}

.mine-cell {
    background: radial-gradient(red, transparent);
    background-size: cover;
    width: 4.5vh;
    height: 4.5vh;
    background-image: url('../image/sea_mine.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px
}

.unknown-cell:hover,
.unknown-cell:hover {
    opacity: 0.5;
}


/*highlight selected button until another is selected*/

.unknown-cell:active,
.unknown-cell:active {
    background: radial-gradient(blue, transparent);
}

#over-btn {
    flex-shrink: 1;
    font-size: 3vh;
    border: 2px solid red;
    text-align: center;
    background: linear-gradient(90deg, aliceblue, cyan);
}

#over-btn:active {
    opacity: 0.5;
}


/***Buttons for 30x24 sized grid***/

.unknown-cell32 {
    background: radial-gradient(red, transparent);
    background-size: cover;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 8px
}

.mine-cell32 {
    background: radial-gradient(red, transparent);
    background-size: cover;
    width: 2.5vh;
    height: 2.5vh;
    background-image: url('../image/sea_mine.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px
}

.revealed-cell32 {
    background: lightgray;
    background-size: cover;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 8px
}

.flag-cell32 {
    background: radial-gradient(red, transparent);
    background-size: cover;
    background-image: url('../image/Flag.png');
    background-size: cover;
    background-position: center;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 8px
}


/***Text color for the revealed cell numbers***/

.color-1 {
    color: blue;
}

.color-2 {
    color: green;
}

.color-3 {
    color: red;
}

.color-4 {
    color: purple;
}

.color-5 {
    color: brown;
}

.color-6 {
    color: darkcyan;
}

.color-7 {
    color: black;
}

.color-8 {
    color: darkgoldenrod
}


/***instructions***/

#instr-show {
    font-size: 4.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    background-image: url('../image/titanic.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 100%;
    /* Set up positioning as fixed in order to cover all page*/
}

#instr-show>center>h1 {
    color: lightgreen;
    flex-shrink: 1;
}

#instr-details {
    margin-inline: 50vh;
    margin-bottom: 5vh;
    padding: 0.5em;
    border: 2px dotted yellow;
    background: rgba(43, 11, 185, 0.582);
    font-size: 3vh;
    flex-shrink: 1;
    color: lightgreen;
    text-align: center;
}

#instrToSplash-btn {
    /*align to center the button*/
    margin-inline: 60vh;
    margin-bottom: 20vh;
    padding: 0.5em;
    flex-shrink: 1;
    font-size: 3vh;
    border: 2px solid red;
    text-align: center;
    background: linear-gradient(90deg, lightgreen, cyan);
}

#instrToSplash-btn:active {
    opacity: 0.5;
}